@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;500;600;700&display=swap');

/* variables */
:root {
  --main-bg: #121212;
  --bg: #eee;
  --main-font: 'Red Hat Mono', monospace;
  --main-text: #FFF;
  --text: #1f1f1f;
  --subdue: #a7a7a7;
  --bright: #1ed760;
}

/* basic reset*/
html, body, div, h1, h2, span, a, figure, figcaption, button, input, select {
  margin: 0;
  padding: 0;
  border: 0;
	font-size: 100%;
	font: var(--main-font);
	vertical-align: baseline;
}

body {
  font-family: var(--main-font);
  font-size: 16px;
  background-image: url("");
  background-color: var(--main-bg);
  color: var(--main-text);
}

.alura__logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4vh;
  padding: 3vh;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4vh;
  justify-content: space-evenly;
  text-transform: uppercase;
  width: 33%;
}

h1 {
  font-weight: 700;
  font-size: 1.8em;
  color: var(--bright);
}

.main__input {
  width: 100%;
  display: flex;
  gap: 1vw;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.searchBox {
  border: none;
  border-radius: 3px;
  padding: .8vh;
  background-color: var(--bg);
  width: 100%;
  font-weight: 500;
  font-size: .9em;
}

.main__select {
  display: flex;
  gap: 2vw;
  width: 100%;
  align-items: center;
}

.main__select-from, .main__select-to, .main__btn {
  width: 100%;
  display: flex;
  gap: 1vw;
  align-items: center;
}

select {
  appearance: none;
  background: url(https://img.icons8.com/external-those-icons-lineal-color-those-icons/24/000000/external-arrow-arrows-those-icons-lineal-color-those-icons-1.png) 95% / 7% no-repeat var(--bg);
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: .8vh;
  color: var(--text);
  font-weight: 500;
  font-size: .9em;
  cursor: pointer;
}

.convert, .reset {
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: .8vh;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 500;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.convert {
  background-color: var(--bright);
}

.reset {
  border: solid 1px var(--bright);
  background-color: transparent;
  color: var(--main-text);
}

h2 {
  font-size: 1.3em;
  font-weight: 500;
}

.finalValue {
  color: var(--bright);
}

figure {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

figcaption > a {
  font-weight: 300;
  font-size: .6em;
  color: var(--subdue);
}

/* animation */

#svgIllustration:not(.animated) {
  opacity: 0;
}

#svgIllustration.animated {
  animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideRight;
  animation-delay: 0s;
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
  }

/* responsive */

@media only screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }
  .main{
    width: 50%;
  }
  .main__input, .main__select, .main__btn{
    width: 75%;
    flex-direction: column;
    gap: 3vw
  }
  figure {
    width: 45%;
  }
  .select-currency {
    width: 27vw;
  }
  .main__select-from, .main__select-to {
    justify-content: end;
    gap: 3vw
  }
}


@media only screen and (max-width: 425px) {
  .main{
    width: 66%;
  }
  .main__input, .main__select, .main__btn{
    gap: 4vw
  }
  figure {
    width: 75%;
  }
  .select-currency {
    width: 30vw;
  }
  .main__select-from, .main__select-to {
    gap: 4vw
  }
}