@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;500;600;700&display=swap');

/* variables */
:root {
  --main-bg: #121212;
  --subdue-bg: #eee;
  --main-font: 'Red Hat Mono', monospace;
  --main-text: #FFF;
  --second-text: #1f1f1f;
  --subdue: #a7a7a7;
  --bright: #40C4FF;
}

/* basic reset*/
html, body, div, h1, h2, span, a, figure, figcaption, button, input, select, p {
  margin: 0;
  padding: 0;
  border: 0;
	font-size: 100%;
	font: var(--main-font);
	vertical-align: baseline;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--main-bg);
  font-family: "Roboto Mono", monospace;
  color: var(--main-text);
}

.page__logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.container {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.container__logo {
  width: 200px;
  padding-top: 3vh;
}

.container__title {
  font-size: 1.8em;
  font-weight: 700;
  color: var(--bright);
}

.container__subtitle, .container__text, .container__alert {
  font-size: 1.3em;
}

.container__input, .container__btn {
  padding: 8px;
  border-radius: 3px;
}

.container__input {
  width: 23%;
  text-align: center;
}

.container__btn {
  width: 25%;
  background: var(--bright);
  color: var(--main-text);
  text-transform: uppercase;
  font-weight: 600;
}

.container__image {
  width: 40%;
  border-radius: 8px;
}